
<mat-card class="example-card">
  <div class = "container-0">

  <div class="box-1">
    <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>Ermanno Calafiore</mat-card-title>
        <mat-card-subtitle>Web Developer</mat-card-subtitle>
    </mat-card-header>

    <div class="box-form">

    <!-- <form [formGroup]="form">-->

        <span style="font-size: 28px; font-weight:bold">
          <img src="assets\Msg.svg" class="msg-logo">
          Write to us:
        </span>
        <mat-form-field class="example-full-width">
        <input matInput placeholder="Your name" >
  </mat-form-field>

    <mat-form-field class="example-full-width">
    <input matInput placeholder="Your e-mail" >
    </mat-form-field>

  <mat-form-field class="example-full-width">
    <textarea matInput placeholder="Leave a comment"></textarea>
  </mat-form-field>
  <!--
  </form>
-->
</div>

  <mat-card-content>
    <p>    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button>SEND</button>
    <button mat-button>SHARE</button>
  </mat-card-actions>

</div> <!-- box-1 -->

<div class="box-2">
  <h2 class="ex1"> Contacs Information </h2>

<div id="right_main">
  <ul id="mainFeatures">
    <li id="position"><img src="assets\iconposition.png" class="logo">Catania, 95030, ITALY</li>
    <li id="smartphone"><img src="assets\icon-ios7-telephone_211830.png" class="logo">+39 123 456 78 </li>
    <li id ="email"> <img src="assets\if_email_322441.png" class="logo"> ecalafiore@virgilio </li>
  </ul>
</div>
<HR width="300" size="2" color="white" align="center">

  <div style="text-align: center">
<img src="assets\if_facebook_circle_black_107153.png" class="cont-logo">
<img src="assets\if_linkedin_circle_black_107159.png" class="cont-logo">
<img src="assets\if_38-instagram_104466.png" class="cont-logo">
</div>
  </div>
<!--</div>  container-1-->
</div> <!-- container-0-->
</mat-card>
